* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro-Medium.woff2") format("woff2");
  src: url("../fonts/GothamPro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro-Bold.woff2") format("woff2");
  src: url("../fonts/GothamPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro.woff2") format("woff2");
  src: url("../fonts/GothamPro.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro-Light.woff2") format("woff2");
  src: url("../fonts/GothamPro-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

body {
  font-family: 'Gotham Pro';
  color: #181818;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.container {
  max-width: 1300px;
  margin: auto;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 107px;
  height: 54px;
}

.button__prev, .button__next {
  width: 50%;
  height: 54px;
  border: none;
  cursor: pointer;
}

.button__prev {
  background: #BFB84A;
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.button__next {
  background: #CBC56C;
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.btn {
  display: inline-block;
  padding: 8px 16px;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.01em;
  text-decoration: none;
  border: none;
  background-color: transparent;
}

.btn-right, .btn-left {
  position: absolute;
  bottom: 0;
  right: -1px;
  z-index: 10;
}

.btn-left {
  bottom: -1px;
  left: 0;
}

.input {
  display: block;
  margin-bottom: 16px;
  background-color: transparent;
  border: none;
  padding: 7.5px;
  line-height: 24px;
  font-weight: 500;
  font-size: 24px;
  color: #C4C4C4;
  border-bottom: 1px solid rgba(24, 24, 24, 0.6);
}

.input::-webkit-input-placeholder {
  color: #C4C4C4;
}

.input:-ms-input-placeholder {
  color: #C4C4C4;
}

.input::-ms-input-placeholder {
  color: #C4C4C4;
}

.input::placeholder {
  color: #C4C4C4;
}

.title {
  font-size: 32px;
  line-height: 120%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  font-weight: normal;
}

button:active, button:focus, input:focus {
  outline-style: none;
  outline-width: 0px !important;
  outline-color: none !important;
}

.header {
  padding: 24px;
}

.header__main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header__nav-link {
  padding: 2px;
  font-size: 16px;
  line-height: 15px;
  color: #181818;
  text-decoration: none;
}

.header__nav-link:not(:last-child) {
  margin-right: 30px;
}

.header__nav-link:hover {
  border-bottom: 1px solid #CBC56C;
}

.header__contact-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
}

.header__phone {
  display: inline-block;
  margin-bottom: 4px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #181818;
  text-decoration: none;
}

.header__callback {
  display: block;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: #181818;
  text-decoration: none;
}

.header__callback::after {
  content: '';
  display: block;
  width: 149px;
  height: 1px;
  margin: 3px 0 0 35px;
  background-color: #CBC56C;
}

.main-section {
  background-image: url("../img/bg-main.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.main-section__content {
  color: #ffffff;
  padding: 130px 95px;
}

.main-section__title {
  text-transform: uppercase;
  font-size: 45px;
  line-height: 120%;
  letter-spacing: 0.01em;
  font-weight: normal;
  margin-bottom: 24px;
}

.main-section__subtitle {
  font-size: 18px;
  line-height: 120%;
  margin-bottom: 72px;
}

.main-section__booklet {
  color: #ffffff;
  border: 1px solid #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.main-section__booklet:hover {
  background: rgba(203, 197, 108, 0.5);
  border-color: rgba(203, 197, 108, 0.5);
}

.project {
  margin: 80px 70px;
}

.project__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.project__quote {
  width: 65%;
  margin-right: 90px;
}

.project__quote-block p {
  margin: 0;
  margin-bottom: 16px;
  font-size: 36px;
  line-height: 110%;
  letter-spacing: 0.01em;
}

.project__quote-block {
  position: relative;
}

.project__quote-block::before {
  content: '';
  width: 60px;
  height: 60px;
  position: absolute;
  background-image: url("../img/project/quote.svg");
  background-repeat: no-repeat;
  background-size: 60px;
  top: -22px;
  left: -22px;
}

.project__quote-gen-dir {
  font-size: 14px;
  line-height: 120%;
}

.project__item {
  position: relative;
}

.project__item:before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("../img/project/blockTwo_project.png");
  background-repeat: no-repeat;
  top: 24px;
  left: -24px;
}

.feature {
  background-color: #F9F9F9;
  padding: 40px 110px;
}

.feature-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.feature-item__desc {
  font-size: 12px;
  line-height: 120%;
  color: #828282;
}

.feature-item__text {
  font-size: 16px;
  line-height: 120%;
}

.feature-item__link {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: #181818;
  text-decoration: none;
  border-bottom: 1px solid #CBC56C;
}

.advantages__block::before {
  content: '';
  width: 1px;
  height: 81px;
  display: block;
  position: relative;
  top: 0;
  left: 140px;
  background: #CBC56C;
}

.advantages__block::after {
  content: '';
  width: 440px;
  height: 1px;
  display: block;
  position: relative;
  top: 0;
  left: 900px;
  -webkit-transform: rotate(155.88deg);
          transform: rotate(155.88deg);
  background: #CBC56C;
  z-index: -1;
}

.advantages__block-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantages__wrap {
  width: 650px;
  height: 430px;
  position: relative;
}

.advantages__wrap-dvor {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.advantages__wrap-dvor::before {
  content: '';
  width: 220px;
  height: 1px;
  display: block;
  position: relative;
  left: -180px;
  top: 60px;
  -webkit-transform: rotate(44.5deg);
          transform: rotate(44.5deg);
  background-color: #CBC56C;
  z-index: -1;
}

.advantages__wrap-slider {
  width: 650px;
  height: 430px;
  overflow: hidden;
  position: relative;
}

.advantages__img {
  width: 650px;
  height: 430px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity .6s linear;
  transition: opacity .6s linear;
}

.advantages__content {
  width: 50%;
  margin-left: 72px;
}

.advantages__content-dvor {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.advantages__subtitle {
  margin: 0;
  margin-top: 40px;
  margin-bottom: 40px;
}

.advantages__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 32px;
}

.advantages__text {
  display: block;
  margin-left: 32px;
  font-size: 18px;
  line-height: 120%;
}

.presentation {
  margin-top: 80px;
  background-color: #F9F9F9;
  overflow: hidden;
}

.presentation-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.presentation__content {
  width: 50%;
  padding: 60px 80px;
}

.presentation__form__title {
  margin: 0;
  margin-bottom: 16px;
}

.presentation__form__subtitle {
  display: block;
  margin-bottom: 22px;
  font-size: 22px;
  line-height: 120%;
  letter-spacing: 0.01em;
}

.presentation__form__text {
  width: 60%;
  margin-bottom: 38px;
  font-weight: 300;
  font-size: 10px;
  line-height: 10px;
  color: #C4C4C4;
}

.presentation__form__social {
  margin-bottom: 48px;
}

.presentation__form__btn {
  color: #181818;
  border: 1px solid #181818;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.presentation__form__btn:not(:last-child) {
  margin-right: 8px;
}

.presentation__form__btn:hover {
  color: #CBC56C;
  border-color: #CBC56C;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.presentation__form__button {
  cursor: pointer;
  color: #FFFFFF;
  border: 1px solid #CBC56C;
  background-color: #CBC56C;
}

.presentation__image {
  position: relative;
}

.presentation__image img {
  position: absolute;
  top: 0;
  left: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.glazing {
  padding: 80px 100px;
}

.glazing__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.glazing__subtitle {
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0.01em;
}

.glazing__line {
  content: '';
  display: block;
  width: 1px;
  height: 184px;
  background: #CBC56C;
  position: absolute;
  left: 50%;
  top: -80px;
}

.glazing__wrap {
  position: relative;
  width: 1160px;
  height: 600px;
  margin: auto;
}

.glazing__wrap-slider {
  position: relative;
  width: 1160px;
  height: 600px;
  overflow: hidden;
}

.glazing__wrap__slide {
  position: absolute;
  width: 1160px;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0;
  -webkit-transition: opacity .6s linear;
  transition: opacity .6s linear;
}

.glazing__btn_position {
  top: 120px;
  right: -54px;
}

.img_active {
  opacity: 1;
  -webkit-transition: opacity .6s linear;
  transition: opacity .6s linear;
}

.layout {
  margin-bottom: 80px;
}

.layout-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 75px;
}

.layout__title {
  margin: 0;
  margin-bottom: 40px;
}

.layout__floor-tabs__list {
  margin-bottom: 30px;
}

.layout__floor-tabs__link {
  padding: 2px;
  font-size: 16px;
  line-height: 26px;
  text-decoration: none;
  color: #181818;
}

.layout__floor-tabs__link:not(:last-child) {
  margin-right: 40px;
}

.layout__floor-tabs__link:hover {
  border-bottom: 1px solid #181818;
}

.layout__floor-tabs__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.layout__floor-tabs__item {
  -webkit-box-flex: 0.3;
      -ms-flex: 0.3;
          flex: 0.3;
  padding: 30px;
  border: 1px solid #F2F2F2;
}

.layout__floor-tabs__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
}

.layout__floor-tabs__subtitle {
  display: block;
  font-size: 16px;
  line-height: 100%;
  margin-bottom: 32px;
}

.layout__floor-tabs__price {
  font-size: 18px;
  line-height: 120%;
  color: #CBC56C;
  font-weight: bold;
}

.tabs_noactive {
  display: none;
}

.tab__link_active {
  border-bottom: 1px solid #181818;
}

.form-title, .form-price, .form-percent {
  display: block;
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 24px;
}

.form-price, .form-percent {
  margin-bottom: 8px;
}

.ipoteka {
  margin-bottom: 100px;
  position: relative;
}

.ipoteka::after {
  content: '';
  display: block;
  background: #CBC56C;
  width: 1px;
  height: 1419px;
  position: absolute;
  bottom: -980px;
  right: 500px;
  z-index: -1;
  -webkit-transform: rotate(-120deg);
          transform: rotate(-120deg);
}

.ipoteka__title {
  position: absolute;
  top: 30%;
  left: 0%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  font-weight: normal;
  font-size: 24px;
  line-height: 16px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}

.ipoteka__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 75px;
}

.ipoteka__form {
  width: 38%;
  background-color: #413046;
  padding: 40px;
  color: #ffffff;
  margin-right: 10px;
}

.ipoteka__form__title {
  margin: 0;
  margin-bottom: 32px;
  font-weight: normal;
  font-size: 18px;
  line-height: 16px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}

.ipoteka__form-price, .ipoteka__form-fee, .ipoteka__form-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 24px;
}

.ipoteka__form__fee-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ipoteka__form-state {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ipoteka__form__state-content {
  margin-left: 16px;
}

.ipoteka__form__state-title {
  margin: 0;
  margin-bottom: 2px;
}

.ipoteka__form__state-text {
  margin: 0;
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
  color: #E0E0E0;
}

.ipoteka-content {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #F2F2F2;
}

.ipoteka__banks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 24px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #F2F2F2;
}

.ipoteka__banks-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.ipoteka__banks-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 24px;
  cursor: pointer;
}

.ipoteka__banks-back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 48px;
  height: 48px;
}

.ipoteka__banks__img {
  width: 38px;
  height: 38px;
}

.ipoteka__banks__desc {
  border: 1px solid #dedede;
  padding: 14px;
}

.ipoteka__banks-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ipoteka__banks__button {
  width: 40px;
  height: 30px;
  background: transparent;
  border: none;
  background-image: url("../img/ipoteka/arrow.png");
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}

.ipoteka__banks__button_left {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.ipoteka__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 24px;
}

.ipoteka__desc-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ipoteka__desc-item {
  display: none;
}

.ipoteka__desc__image {
  width: 150px;
  height: 60px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 24px;
}

.ipoteka__desc__about {
  margin: 0;
  font-size: 16px;
  line-height: 18px;
}

.ipoteka__desc-total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  margin-top: 32px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #F9F9F9;
  padding: 24px;
}

.ipoteka__desc__monthly-payment, .ipoteka__desc__amount-of-credit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ipoteka__desc__monthly-payment {
  margin-bottom: 30px;
}

.ipoteka__desc__payment {
  font-size: 18px;
  line-height: 17px;
}

.ipoteka__desc__cost {
  font-weight: 500;
  font-size: 20px;
  line-height: 17px;
}

.ipoteka__desc__costCredit {
  font-size: 20px;
  line-height: 17px;
}

.ipoteka__request {
  padding: 25px;
}

.ipoteka__request__profitable-terms {
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 16px;
}

.ipoteka__request-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ipoteka__request__input {
  width: 33%;
  border: 1px solid rgba(24, 24, 24, 0.3);
}

.ipoteka__request__btn {
  cursor: pointer;
  max-height: 45px;
  color: #fff;
  background: #CBC56C;
  border: 1px solid #CBC56C;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.01em;
}

.ipoteka__request__agreement {
  font-weight: 300;
  font-size: 10px;
  line-height: 10px;
  letter-spacing: 0.01em;
  color: #828282;
}

.item_active-bank {
  background-color: #dedede;
}

.item-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.social {
  margin-bottom: 80px;
}

.social-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 75px;
}

.social__title {
  margin: 0;
  margin-bottom: 48px;
}

.social-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.social__image {
  width: 282px;
  height: 282px;
}

.footer {
  background: #413046;
  color: #fff;
  position: relative;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 67px 75px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__block {
  width: 50%;
}

.footer__block:first-child::before {
  content: '';
  display: block;
  position: absolute;
  width: 1px;
  height: calc(100% - 80px);
  left: calc(50% - 1px);
  top: 40px;
  background: #F2F2F2;
}

.footer__block:last-child {
  margin-left: 150px;
}

.footer__smalltitle {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}

.footer__button {
  cursor: pointer;
  border: 1px solid #fff;
  color: #fff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.footer__button:hover {
  background-color: #ffffff;
  color: #413046;
}

.footer__form__title {
  margin: 0;
  margin-bottom: 24px;
  font-weight: normal;
  font-size: 32px;
  line-height: 34px;
}

.footer__form__subtitle {
  display: block;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 24px;
  width: 70%;
}

.footer__form__input {
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

.footer__form__text {
  font-weight: 300;
  font-size: 10px;
  line-height: 10px;
  color: #F2F2F2;
  margin-bottom: 24px;
  width: 65%;
}

.footer__phones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}

.footer__phone {
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  text-decoration: none;
}

.footer__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 40px;
}

.footer__address-subtitle {
  font-size: 16px;
  line-height: 20px;
  width: 70%;
}

.footer__chat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.policy__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 24px 75px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.policy-desc {
  width: 70%;
  font-size: 12px;
  line-height: 18px;
  color: #828282;
}

.policy__link {
  text-align: right;
  display: block;
  font-size: 14px;
  line-height: 18px;
  color: #413046;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */