* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro-Medium.woff2") format("woff2");
  src: url("../fonts/GothamPro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro-Bold.woff2") format("woff2");
  src: url("../fonts/GothamPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro.woff2") format("woff2");
  src: url("../fonts/GothamPro.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro-Light.woff2") format("woff2");
  src: url("../fonts/GothamPro-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

body {
  font-family: 'Gotham Pro';
  color: #181818;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1300px;
  margin: auto;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 108px;
  height: 54px;
}

.button__prev, .button__next {
  width: 54px;
  height: 54px;
  border: none;
  cursor: pointer;
}

.button__prev {
  background: #BFB84A;
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.button__next {
  background: #CBC56C;
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.btn-right, .btn-left {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
}

.btn-left {
  bottom: -1px;
  left: 0;
}

button:active, button:focus {
  outline-style: none;
  outline-width: 0px !important;
  outline-color: none !important;
}

.header {
  padding: 24px;
}

.header__main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header__nav-link {
  padding: 2px;
  font-size: 16px;
  line-height: 15px;
  color: #181818;
  text-decoration: none;
}

.header__nav-link:not(:last-child) {
  margin-right: 30px;
}

.header__nav-link:hover {
  border-bottom: 1px solid #CBC56C;
}

.header__contact-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
}

.header__phone {
  display: inline-block;
  margin-bottom: 4px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #181818;
  text-decoration: none;
}

.header__callback {
  display: block;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: #181818;
  text-decoration: none;
}

.header__line::after {
  content: '';
  display: block;
  width: 149px;
  height: 1px;
  margin: 3px 0 0 35px;
  background-color: #CBC56C;
}

.main-section {
  background-image: url("../img/bg-main.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.main-section__content {
  color: #ffffff;
  padding: 130px 95px;
}

.main-section__title {
  font-size: 45px;
  line-height: 120%;
  letter-spacing: 0.01em;
  font-weight: normal;
  margin-bottom: 24px;
}

.main-section__subtitle {
  font-size: 18px;
  line-height: 120%;
  margin-bottom: 72px;
}

.main-section__booklet {
  display: inline-block;
  padding: 8px 16px;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: #ffffff;
  text-decoration: none;
  border: 1px solid #ffffff;
}

.main-section__booklet:hover {
  background: rgba(203, 197, 108, 0.5);
  border: 1px solid rgba(203, 197, 108, 0.5);
}

.project {
  margin: 80px 70px;
}

.project__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.project__quote {
  width: 65%;
  margin-right: 90px;
}

.project__quote-block p {
  margin: 0;
  margin-bottom: 16px;
  font-size: 36px;
  line-height: 110%;
  letter-spacing: 0.01em;
}

.project__quote-block {
  position: relative;
}

.project__quote-block::before {
  content: '';
  width: 60px;
  height: 60px;
  position: absolute;
  background-image: url("../img/project/quote.svg");
  background-repeat: no-repeat;
  background-size: 60px;
  top: -22px;
  left: -22px;
}

.project__quote-gen-dir {
  font-size: 14px;
  line-height: 120%;
}

.project__item {
  position: relative;
}

.project__item:before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("../img/project/blockTwo_project.png");
  background-repeat: no-repeat;
  top: 24px;
  left: -24px;
}

.feature {
  background-color: #F9F9F9;
  padding: 40px 110px;
}

.feature-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.feature-item__desc {
  font-size: 12px;
  line-height: 120%;
  color: #828282;
}

.feature-item__text {
  font-size: 16px;
  line-height: 120%;
}

.feature-item__link {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: #181818;
  text-decoration: none;
  border-bottom: 1px solid #CBC56C;
}

.advantages__block::before {
  content: '';
  width: 1px;
  height: 81px;
  display: block;
  position: relative;
  top: 0;
  left: 140px;
  background: #CBC56C;
}

.advantages__block::after {
  content: '';
  width: 440.46px;
  height: 1px;
  display: block;
  position: relative;
  top: 0;
  left: 902px;
  -webkit-transform: rotate(155.88deg);
          transform: rotate(155.88deg);
  background: #CBC56C;
}

.advantages__block-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantages__wrap {
  width: 650px;
  height: 430px;
  position: relative;
}

.advantages__wrap-dvor {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.advantages__wrap-dvor::before {
  content: '';
  width: 220px;
  height: 1px;
  display: block;
  position: relative;
  left: -180px;
  top: 60px;
  -webkit-transform: rotate(44.5deg);
          transform: rotate(44.5deg);
  background-color: #CBC56C;
  z-index: -1;
}

.advantages__wrap-slider {
  width: 650px;
  height: 430px;
  overflow: hidden;
  position: relative;
}

.advantages__img {
  width: 650px;
  height: 430px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 1.3s linear;
  transition: opacity 1.3s linear;
}

.advantages__content {
  width: 50%;
  margin-left: 72px;
}

.advantages__content-dvor {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.advantages__subtitle {
  margin: 0;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}

.advantages__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 32px;
}

.advantages__text {
  display: block;
  margin-left: 32px;
  font-size: 18px;
  line-height: 120%;
}

.img_active {
  opacity: 1;
  -webkit-transition: opacity 1.3s linear;
  transition: opacity 1.3s linear;
}
/*# sourceMappingURL=style.css.map */