*
  box-sizing: border-box

@font-face 
    font-family: 'Gotham Pro'
    src: url('../fonts/GothamPro-Medium.woff2') format('woff2')
    src: url('../fonts/GothamPro-Medium.woff') format('woff')
    font-weight: 500
    font-style: normal

@font-face 
    font-family: 'Gotham Pro'
    src: url('../fonts/GothamPro-Bold.woff2') format('woff2')
    src: url('../fonts/GothamPro-Bold.woff') format('woff')
    font-weight: bold
    font-style: normal

@font-face 
    font-family: 'Gotham Pro'
    src: url('../fonts/GothamPro.woff2') format('woff2')
    src: url('../fonts/GothamPro.woff') format('woff')
    font-weight: normal
    font-style: normal


@font-face 
    font-family: 'Gotham Pro'
    src: url('../fonts/GothamPro-Light.woff2') format('woff2')
    src: url('../fonts/GothamPro-Light.woff') format('woff')
    font-weight: 300
    font-style: normal

body 
  font-family: 'Gotham Pro'
  color: #181818
  margin: 0
  padding: 0

.container 
    max-width: 1300px
    margin: auto