*
  box-sizing: border-box

@font-face 
    font-family: 'Gotham Pro'
    src: url('../fonts/GothamPro-Medium.woff2') format('woff2')
    src: url('../fonts/GothamPro-Medium.woff') format('woff')
    font-weight: 500
    font-style: normal

@font-face 
    font-family: 'Gotham Pro'
    src: url('../fonts/GothamPro-Bold.woff2') format('woff2')
    src: url('../fonts/GothamPro-Bold.woff') format('woff')
    font-weight: bold
    font-style: normal

@font-face 
    font-family: 'Gotham Pro'
    src: url('../fonts/GothamPro.woff2') format('woff2')
    src: url('../fonts/GothamPro.woff') format('woff')
    font-weight: normal
    font-style: normal


@font-face 
    font-family: 'Gotham Pro'
    src: url('../fonts/GothamPro-Light.woff2') format('woff2')
    src: url('../fonts/GothamPro-Light.woff') format('woff')
    font-weight: 300
    font-style: normal

body 
  font-family: 'Gotham Pro'
  color: #181818
  margin: 0
  padding: 0

.container 
    max-width: 1300px
    margin: auto

.button
    display: flex
    width: 108px
    height: 54px
    &__prev, &__next
        width: 54px
        height: 54px
        border: none
        cursor: pointer
    &__prev
        background: #BFB84A
        background-image: url('../img/arrow.svg')
        background-repeat: no-repeat
        background-position: center center
        transform: rotate(180deg)
    &__next
        background: #CBC56C
        background-image: url('../img/arrow.svg')
        background-repeat: no-repeat
        background-position: center center
.btn
    display: inline-block   
    padding: 8px 16px
    font-size: 16px
    line-height: 28px
    letter-spacing: 0.01em
    text-decoration: none
    border: none
    background-color: transparent
.btn-right, .btn-left
  position: absolute
  bottom: 0
  right: 0
  z-index: 10
.btn-left
  bottom: -1px
  left: 0
.input
    display: block
    margin-bottom: 16px
    background-color: transparent
    border: none
    padding: 7.5px
    line-height: 24px
    font-weight: 500
    font-size: 24px
    color: #C4C4C4
    border-bottom: 1px solid rgba(24, 24, 24, 0.6)
    &::placeholder
        color: #C4C4C4
.title
    font-size: 32px
    line-height: 120%
    letter-spacing: 0.01em
    text-transform: uppercase
    font-weight: normal
button:active, button:focus, input:focus
    outline-style: none
    outline-width: 0px !important
    outline-color: none !important